/**
 * @brief {{method}} handler for URL {{path}}.
{{#summary}}
 *
 * {{summary}}
{{/summary}}
{{#description}}
 *
 * {{description}}
{{/description}}
{{#requestBody}}
{{#model}}
 *
 * **Request body**
 * The request body contains the following parameters:
{{#properties}}
 *  - {{property_name}} ({{c_type}}{{#is_required}}, required{{/is_required}})
{{/properties}}
{{/model}}
{{/requestBody}}
 *
 * **Responses**
 * The user must implement the following responses in the callback
 * function {{user_callback_function_name}}(...)
{{#responses}}
 *  - {{code}}: {{description}}
{{/responses}}
*/
static esp_err_t {{handler_function_name}}(httpd_req_t *req)
{
    {{#requestBody}}
    // Body handling
    char content[100];
    cJSON* json = NULL;

    esp_err_t err = handle_json_body(req, content, sizeof(content), &json);

    if (err != ESP_OK) {
        return err;
    }

    {{#model}}
    {{#properties}}

    // Validate property "{{property_name}}"
    cJSON *{{property_name}} = cJSON_GetObjectItemCaseSensitive(json, "{{property_name}}");
    {{#is_required}}
    if ({{property_name}} == NULL) {
        handle_json_missing_property_error(req, "{{property_name}}");
        cJSON_Delete(json);
        return ESP_OK;
    }
    {{/is_required}}
    if ({{^is_required}}{{property_name}} != NULL && {{/is_required}}!{{cjson_check_function}}({{property_name}})) {
        handle_json_validation_error(req, "{{property_name}}", "{{type}}");
        cJSON_Delete(json);
        return ESP_OK;
    }

    {{#min?}}
    // Validate {{property_name}}'s minimum constraint
    if ({{^is_required}}{{property_name}} != NULL && {{/is_required}}{{{min_check}}}) {
        const range_error_data_t err_data = {
            .error_type = UNDER_MINIMUM,
            .is_float = {{#is_float?}}true{{/is_float?}}{{^is_float?}}false{{/is_float?}},
            {{#is_float?}}.float_limit = {{min}},{{/is_float?}}
            {{^is_float?}}.int_limit = {{min}},{{/is_float?}}
        };
        handle_range_error(req, "{{property_name}}", &err_data);
        cJSON_Delete(json);
        return ESP_OK;
    }
    {{/min?}}
    {{#max?}}
    // Validate {{property_name}}'s maximum constraint
    if ({{^is_required}}{{property_name}} != NULL && {{/is_required}}{{{max_check}}}) {
        const range_error_data_t err_data = {
            .error_type = OVER_MAXIMUM,
            .is_float = {{is_float}},
            {{#is_float?}}.float_limit = {{max}},{{/is_float?}}
            {{^is_float?}}.int_limit = {{max}},{{/is_float?}}
        };
        handle_range_error(req, "{{property_name}}", &err_data);
        cJSON_Delete(json);
        return ESP_OK;
    }
    {{/max?}}
    {{/properties}}
    {{#arrayproperties}}
    // Validate array property "{{property_name}}"
    cJSON *{{property_name}} = cJSON_GetObjectItemCaseSensitive(json, "{{property_name}}");
    {{#is_required}}
    if ({{property_name}} == NULL) {
        handle_json_missing_property_error(req, "{{property_name}}");
        cJSON_Delete(json);
        return ESP_OK;
    }
    {{/is_required}}
    if ({{^is_required}}{{property_name}} != NULL && {{/is_required}}!cJSON_IsArray({{property_name}})) {
        handle_json_validation_error(req, "{{property_name}}", "array");
        cJSON_Delete(json);
        return ESP_OK;
    }

    {{/arrayproperties}}
    // Prepare model data struct for user callback function
    {{model_type_name}} {{model_name}} = {
    {{#properties}}
        {{^is_required}}.has_{{property_name}} = {{property_name}} != NULL,{{/is_required}}
        .{{property_name}} = {{property_name}} == NULL ? {{nullvalue}} : {{property_name}}->{{struct_element}},
    {{/properties}}
    {{#arrayproperties}}
        {{^is_required}}.has_{{property_name}} = {{property_name}} != NULL,{{/is_required}}
        .{{property_name}} = {{property_name}} == NULL ? {{nullvalue}} : {{property_name}},
    {{/arrayproperties}}
    };
    {{/model}}

    {{/requestBody}}
    // Prepare response data struct for user callback function
    response_data_t response_data = {
        .content = NULL,
        .content_len = 0,
        .has_error = true,
        .error_code = HTTPD_501_METHOD_NOT_IMPLEMENTED,
    };

    {{user_callback_function_name}}(&response_data{{#requestBody}}{{#model}}, &{{model_name}}{{/model}}{{/requestBody}});

    if (response_data.has_error) {
        httpd_resp_set_status(req, get_error_status(response_data.error_code));
    }

    httpd_resp_set_type(req, HTTPD_TYPE_JSON);
    httpd_resp_sendstr(req, response_data.content);

    free(response_data.content);{{#requestBody}}
    cJSON_Delete(json);{{/requestBody}}

    return ESP_OK;
}

static const httpd_uri_t {{uri_struct_name}} = {
    .uri      = "{{path}}",
    .method   = {{esp32_method}},
    .handler  = {{handler_function_name}},
    .user_ctx = NULL
};
