{{> file_header}}

#include "api.h"
{{#groups}}
#include "handlers/{{header_filename}}"
{{/groups}}

#include "esp_log.h"
#include "esp_err.h"
#include "esp_http_server.h"

static httpd_handle_t httpd_handle = NULL;

void api_init(httpd_handle_t handle) {
    {{#groups}}
    {{init_function_name}}(handle);
    {{/groups}}
}

esp_err_t api_start_webserver() {
    httpd_config_t config = HTTPD_DEFAULT_CONFIG();
    config.max_uri_handlers = {{num_handlers}};
    
    esp_err_t ret = httpd_start(&httpd_handle, &config);
    if (ret != ESP_OK) {
        return ret;
    }

    api_init(httpd_handle);
    return ESP_OK;
}

void api_stop_webserver() {
    httpd_stop(httpd_handle);
}
