{{> file_header}}

#pragma once

#include "cJSON.h"
#include "esp_err.h"
#include "esp_http_server.h"
#include <stdbool.h>

typedef enum {
    OVER_MAXIMUM,
    UNDER_MINIMUM
} range_error_type_t;

typedef struct {
    range_error_type_t error_type;
    bool is_float;
    union {
        float float_limit;
        uint64_t int_limit;
    };
} range_error_data_t;

typedef struct {
    char* content;
    size_t content_len;
    bool has_error;
    httpd_err_code_t error_code;
} response_data_t;

esp_err_t handle_json_body(httpd_req_t *req, char* content, const size_t content_len, cJSON** json);
void handle_body_truncation_error(httpd_req_t *req);
void handle_json_missing_property_error(httpd_req_t *req, const char* param_name);
void handle_json_validation_error(httpd_req_t *req, const char* param_name, const char* datatype_name);
void handle_range_error(httpd_req_t *req, const char* param_name, const range_error_data_t* err_data);
const char* get_error_status(const httpd_err_code_t error);
