{{> file_header}}

#pragma once

#include "esp_err.h"
#include "esp_http_server.h"

#define API_VERSION "{{api_version}}"
#define API_GENERATION_TIMESTAMP "{{api_generated_at}}"

/**
 * @brief Registers all the API routes with the http server.
 * @note The user must ensure that the http server can handle a sufficient amount of routes.
 */
void api_init(httpd_handle_t httpd_handle);

/**
 * @brief Starts a webserver with the default configuration providing the API endpoints of this API.
 * @note You can also start your own webserver and add the handlers via `api_init()`
 */
esp_err_t api_start_webserver(void);

/**
 * @brief Stop the webserver started via `api_start_webserver()`
 */
void api_stop_webserver(void);
