idf_component_register(
    SRCS
        {{#source_files}}
        "{{filename}}"
        {{/source_files}}
    INCLUDE_DIRS
        ./include
    PRIV_REQUIRES
        esp_http_server
        cjson
)