{{> file_header}}

#include "{{header_filename}}"
{{#routes}}
{{#requestBody}}
{{#model}}
#include "models/{{header_filename}}"
{{/model}}
{{/requestBody}}
{{/routes}}
#include "callbacks/{{user_header_filename}}"
#include "api_utils.h"
#include "cJSON.h"
#include "esp_err.h"
#include "esp_log.h"
#include "esp_http_server.h"
#include <stdbool.h>

{{#routes}}
{{> handler_function}}

{{/routes}}

void {{init_function_name}}(httpd_handle_t httpd_handle) {
    {{#routes}}
    httpd_register_uri_handler(httpd_handle, &{{uri_struct_name}});
    {{/routes}}
}
