{{> file_header}}

#pragma once

#include <stdint.h>
#include <stdbool.h>
{{#arrayproperties?}}
#include "cJSON.h"
{{/arrayproperties?}}

typedef struct {
    {{#properties}}
    {{^is_required}}bool has_{{property_name}};  /**< Indicating if optional parameter {{property_name}} is set. */{{/is_required}}
    {{c_type}} {{property_name}};{{#description}}  /**< {{description}} */{{/description}}
    {{/properties}}
    {{#arrayproperties}}
    {{^is_required}}bool has_{{property_name}};  /**< Indicating if optional parameter {{property_name}} is set. */{{/is_required}}
    cJSON* {{property_name}};{{#description}}  /**< {{description}} */{{/description}}
    {{/arrayproperties}}
} {{model_type_name}};
