{{> file_header_user_callback}}

#include "{{user_header_filename}}"
{{#routes}}
{{#requestBody}}
{{#model}}
#include "models/{{header_filename}}"
{{/model}}
{{/requestBody}}
{{/routes}}
#include "api_utils.h"
#include "esp_http_server.h"
#include "esp_log.h"

{{#routes}}
/**
 * @brief Callback for {{method}} handler for URL {{path}}.
{{#summary}}
 *
 * {{summary}}
{{/summary}}
{{#description}}
 *
 * {{description}}
{{/description}}
{{#requestBody}}
{{#model}}
 *
 * **Model**
 * The model contains the following parameters:
{{#properties}}
 *  - {{property_name}} ({{c_type}}{{#is_required}}, required{{/is_required}}{{^is_required}}, optional{{/is_required}}{{#min?}}, minimum: {{min}}{{/min?}}{{#max?}}, maximum: {{max}}{{/max?}})
{{/properties}}
{{/model}}
{{/requestBody}}
 *
 * **Responses**
 * As per API spec the following responses must be implemented:
{{#responses}}
 *  - {{code}}: {{description}}
{{/responses}}
*/
void {{user_callback_function_name}}(response_data_t* const response_data{{#requestBody}}, {{#model}}const {{model_type_name}}* {{model_name}}{{/model}}{{/requestBody}})
{
    // TODO: Implement your logic here to fill 'response_data'.
    ESP_LOGW("API_CBK", "Hello from {{user_callback_function_name}}(). Implement me!");
}

{{/routes}}