{{> file_header_user_callback}}

#pragma once

{{#routes}}
{{#requestBody}}
{{#model}}
#include "models/{{header_filename}}"
{{/model}}
{{/requestBody}}
{{/routes}}
#include "api_utils.h"

{{#routes}}
void {{user_callback_function_name}}(response_data_t* const response_data{{#requestBody}}, {{#model}}const {{model_type_name}}* {{model_name}}{{/model}}{{/requestBody}});
{{/routes}}